/* footer.css */
.site-footer {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Ubunto', sans-serif;

}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}
.footer-right{
    display: flex;
    flex-direction: column;

    gap: 3.125rem;
}

.footer-nav ul {
    display: flex;
    gap: 1.1875rem;
}
.footer-nav ul li {
    font-weight: 500;
    letter-spacing: 0.08em;
}
.footer-nav ul ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-nav strong{
    color: #EDEDED;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    display: block;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.08em;
    text-decoration: none;
}
.footer-nav li a {
    color:#ffffff;
}

.footer-nav li a:hover{
    text-decoration: underline;
}
.newsletter-form{
    display: flex;
    flex-direction: column;
}
.newsletter-form input{
    border-radius: 1.875rem;
    color: #AAAAAA;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
}
.footer-social span{
    margin-bottom: 1rem;
    display: block;
}

.footer-social ul{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;

}
